@import "~bootstrap/scss/bootstrap";

body {
  font-family: 'Roboto'
}

.App-link {
  color: #61dafb;
}

.post {
  white-space: pre-line
}

form, .centered-content div  {
  width: 100%;
}

.body-content {
  justify-content: center;
  align-items: center;
}

.centered-content {
  width: 400px;
}

.posts {
  margin-top: 30px;
}

.navbar-item.logo {
  font-weight: bold;
  font-size: x-large;
}

.navbar-item {
  font-size: large;
  margin-right: 20px;
}

.navbar-brand, .btn.btn-outline-primary, body a {
  color: #20c997;
}

.btn.btn-outline-primary {
  background-color: white;
  border-color:  #20c997;
}

.btn.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
  background-color: #20c997;
  color: white;
  border-color:  white;
}

div.card {
  background-color: #20C997; 
  margin-bottom: 20px;
}

div.card-header {
  color: white;
}

div.card-body {
  white-space: pre-line;
  background-color: white;
}

.form-item {
  margin-bottom: 25px;
  white-space: nowrap;
  align-items: center;
  justify-content: space-between;
}

.sign-up-msg {
  margin-top: 10px;
  justify-content: space-between;
}

.new-post-submit {
  margin-top: 15px;
  width: 100%;
}

.form-title {
  font-size: 35px;
  margin-bottom: 20px;
}

.form-item input {
  margin-left: 3%;
  flex: 1;
}

.center-form .btn {
  width: 100%;
}

.center-form, .body-content, .form-item, .sign-up-msg {
  display: flex;
}

.center-form {
  align-items: center;
  flex-flow: column;
  margin-top: 75px;
}
