@import "~bootstrap/scss/bootstrap";

body {
  font-family: 'Roboto'
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.post {
  white-space: pre-line
}

form, .centered-content div  {
  width: 100%;
}

.body-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-content {
  width: 400px;
}

.posts {
  margin-top: 30px;
}

.navbar-brand {
  font-weight: bold;
  font-size: x-large;
}

.navbar-brand, .btn.btn-outline-primary, body a {
  color: #20c997;
}

.btn.btn-outline-primary {
  background-color: white;
  border-color:  #20c997;
}

.btn.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
  background-color: #20c997;
  color: white;
  border-color:  white;
}

div.card {
  background-color: #20C997; 
  margin-bottom: 20px;
}

div.card-header {
  color: white;
}

div.card-body {
  background-color: white;
}

.form-item {
  margin-bottom: 25px;
  white-space: nowrap;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.sign-up-msg {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.new-post-submit {
  margin-top: 15px;
  width: 100%;
}

.form-item input {
  margin-left: 3%;
  flex: 1;
}

.center-form .btn {
  width: 100%;
}

.center-form {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-top: 75px;
}

.form-title {
  font-size: 35px;
  margin-bottom: 20px;
}
